@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
}

@layer utilities {
  .container{
    @apply max-w-[80vw] sm:overflow-clip md:overflow-visible
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2b2b;
    --foreground: #ededed;
  }
}
*/

body, html {
  color: var(--foreground);
  background: var(--background);
  font-family: LEMONMILK, Henotica, Shoal, CreatoDisplay,  Arial, Helvetica, sans-serif;
  font-weight: 300;
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Henotica';
  src: url('/fonts/Henotica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shoal';
  src: url('/fonts/Shoal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CreatoDisplay';
  src: url('/fonts/CreatoDisplay-LightItalic.otf') format('opentype');
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'CreatoDisplay';
  src: url('/fonts/CreatoDisplay-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CreatoDisplay';
  src: url('/fonts/CreatoDisplay-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CreatoDisplay';
  src: url('/fonts/CreatoDisplay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CreatoDisplay';
  src: url('/fonts/CreatoDisplay-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CreatoDisplay';
  src: url('/fonts/CreatoDisplay-Thin.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}